**/.DS_Store

/data/cnn-dailymail/**
/data/raw
!/data/cnn-dailymail/LICENSE.md
!/data/cnn-dailymail/make_datafiles.py
!/data/cnn-dailymail/README.md
!/data/cnn-dailymail/url_lists

/pointer-generator/*.pyc
/log/**
/venv/**
/.idea/**